//************************************
//*                COLORS                 *
// ************************************/

$color-white: #efefef; // white
$color-charcoal: #444444; // grey (dark)
$color-alpha: ;
$color-beta: ;
$color-gamma: ;
$color-delta: ;
$color-epsilon: ;
$color-digamma:;
$color-zeta: ;
$color-eta: ;

//************************************
//*                  LAYOUT                   *
// ************************************/

$max-view-width: 980px;
